<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-header">All Products</div>
          <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71etTobjrSL.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Red Color Sports Shoes</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                      Rs. <input type="number" class="form-control" value="1200" readonly>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-danger btn-md">Add To Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://www.aku.it/k-content/aku/themes/aku/html/imagebank/e-shop/photogallery-20468/659.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Brown Color Sports Shoes</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <div class="card-text">
                    Rs. <input type="number" class="form-control" value="1200" readonly>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-outline-danger btn-md">Add To Cart</button>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREd-fyAXXAMw6trk51LU0X3swvOb2qhdDCf5bk3ktaAMVZZ06FLw" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Stunning Nike Sports Shoes</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content..</p>
                  <div class="card-text">
                      Rs. <input type="number" class="form-control" value="1200" readonly>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-danger btn-md">Add To Cart</button>
                </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQXEJCQOQiJtzqJTIUMnpT4PK8XnRuEYekoQv6XpQJct6noGXl" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Stunning Puma Sports Shoes</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="card-text">
                        Rs. <input type="number" class="form-control" value="1200" readonly>
                      </div>
                  </div>
                  <div class="card-footer">
                      <button class="btn btn-outline-danger btn-md">Add To Cart</button>
                  </div>
                </div>
            </div>
      </div>
    </div>
</div>