<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Cart Page
        </div>
        <div class="cart-body">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <td>S.No</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Total Price</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="cart == ''">
                <td colspan="5" class="text-center"><h4>Your cart is empty</h4></td>
              </tr>
              <tr *ngFor="let item of cart; let i=index">
                <td>{{ i + 1}}</td>
                <td>{{ item.name }}</td>
                <td><input type="number" class="form-control" value="{{ item.quantity }}" min="1"></td>
                <td><input type="number" class="form-control" value="{{ item.price }}" readonly></td>
                <td><input type="number" class="form-control" value="{{ item.quantity * item.price }}" readonly #varall></td>
              </tr>

            </tbody>            
          </table>
          <div style="float: right" class="mr-5">
            <input type="number" class="form-control" value="{{ total }}" readonly>
            <button routerLink="/checkout" class="btn btn-outline-primary btn-md mt-5 mb-3">Checkout</button>
            <button class="btn btn-outline-danger btn-md mt-5 mb-3 ml-4" 
            (click)="deleteProduct()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>